body {
    background-color: whitesmoke;
    align-content: center;
}

h1 {
    color: black;
    text-align: center;
    font-size : 50px;
    margin-top: 100px;
}

p {
    color: grey;
    text-align: center;
    font-size : 35px;
    margin-top: 17px;
}

p2 {
    color:grey;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.button {
    background-color: limegreen;
    text-decoration-color: white;
    text-align: center;
    padding: 20px 32px;
    border: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    vertical-align: 50%;
    gap: 20px;
    height: 100%;
}

.pool-container{
    display: grid;
}

.ball {
    height: 10px;
    width: 10px;
    
}